/*
320dp: a typical phone screen (240x320 ldpi, 320x480 mdpi, 480x800 hdpi, etc).
480dp: a tweener tablet like the Streak (480x800 mdpi).
600dp: a 7” tablet (600x1024 mdpi).
720dp: a 10” tablet (720x1280 mdpi, 800x1280 mdpi, etc).
*/

@media screen and (max-width: 480px) {
	[class*="entypo-"]:before {
		font-size: 45px;
		float: left;
		margin-top: 10px;
	}
	
	.entypo {
	height: 70px;
	padding-top: 15px;
	float: left;
	}
	
	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, 
	.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, 
	.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, 
	.col-lg-12 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	
	.container {
		padding-left: 0;
		padding-right: 0;
		width: 100%;
	}
	
	h1, .profession {
		font-size: 20px;
	}
	
	h2 {
		font-size: 25px;
	}
	
	hr {
		height: 1px;
		margin-bottom: 15px;
	}
	
	.projects {
		font-size: 18px;
	}
	
	.certificate {
		margin-left: 0;
	}
}

@media screen and (min-width: 481px) and (max-width: 650px) {
	[class*="entypo-"]:before {
		font-size: 45px;
		float: left;
		margin-top: 10px;
	}
	
	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, 
	.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, 
	.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, 
	.col-lg-12 {
		position: relative;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	
	.container {
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
	}
	
	h1, .profession {
		font-size: 20px;
		padding-right: 0;
	}
	
	h2 {
		font-size: 25px;
	}
	
	hr {
		height: 2px;
		margin-bottom: 15px;
	}
	
	.projects {
		font-size: 18px;
	}
}

@media screen and (min-width: 651px) and (max-width: 990px) {
	.entypo-code {
		float: left;
	}
	
	hr {
		margin-bottom: 15px;
		-moz-flex-wrap: wrap; /* Safari 6.1+ */
		display: flex; 
	}
	
	.projects {
		margin-top: 5px;
		padding-left: 10px;
		width: 550px;
	}
	
	.no-response {
		width: 550px;
	}
}

@media screen and (min-width: 991px) {
	.profession {
		margin-bottom: -20px;
	}
	
	hr {
		margin-top: 10px;
		margin-bottom: 25px;
	}
}

@media screen and (min-width: 720px) and (max-width: 975px) {
	.certificate {
		margin-left: 0;
	}
